*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}
@font-face {
  font-family: "agrandir";
  src: url("fonts/Agrandir-Regular.otf");
}

body {
  text-align: center;
  background-color: black;
  color: #00d54b;
  font-size: 2em;
  font-family: "agrandir", Courier, monospace;
}

.ticker {
  overflow: hidden;
  background-color: #00d54b;
  color: black;
}

.money-box {
  display: flex;
  justify-content: space-around;
  padding: 50px;
}

.stage {
  width: 100%;
  height: 100%;
  /* left: 0; */
  z-index: 1;
}

p {
  position: fixed;
  top: 0;
  visibility: hidden;
  animation-duration: 2s;
  font-size: 5em;
  animation-name: fall;
  animation-timing-function: ease;
}

@keyframes fall {
  0% {
    visibility: visible;
    transform: scale(1.1, 0.9) translateY(0);
  }
  70% {
    visibility: visible;
    transform: scale(1.05, 0.95) translateY(90vh);
  }
  100% {
    opacity: 0;
  }
}
